.about-section {
  background-color: #f7f7f7;
  padding-top: 0;
  margin-top: 0;
  box-shadow: inset 0px 100px 0px 0px #ffffff;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
}

.about-column-left {
  flex: 0 0 50%;
  padding-top: 0;
}

.about-column-right {
  flex: 0 0 50%;
  padding-top: 0;
}

.about-row-inner {
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  max-width: 75%;
}

.about-column-inner {
  width: 100%;
}

.about-title {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  max-width: 700px;
  color: #747d88;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

.about-title h2 {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 1.3em;
  text-align: left;
}

.about-description {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  max-width: 700px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  color: #747d88;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

.about-description p {
  line-height: 1.8em;
}

.about-image {
  padding-top: 0;
  padding-left: 10px;
  margin-top: -273px;
  margin-bottom: 0;
  max-width: 100%;
  margin-left: 0;
}

.about-image .et_pb_image_wrap,
.about-image img {
  width: 100%;
}

.about-parallax-section {
  background-color: rgba(247, 247, 247, 0);
  padding-top: 360px;
  padding-bottom: 211px;
  margin-top: 0;
  margin-bottom: -1px;
  box-shadow: inset 0px 100px 0px 0px #ffffff;
  background-image: url('/wp-content/uploads/2018/10/Lepelaar-11.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.et_parallax_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/wp-content/uploads/2018/10/Lepelaar-11.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.about-parallax-row {
  display: flex;
  flex-wrap: wrap;
}

.about-parallax-column {
  flex: 0 0 50%;
  padding: 0;
}

@media (min-width: 981px) {
  .about-parallax-section {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .about-image {
    display: none;
  }
  
  .about-parallax-section {
    display: none;
  }
}

@media (max-width: 767px) {
  .about-column-left,
  .about-column-right {
    flex: 0 0 100%;
  }
  
  .about-row-inner {
    max-width: 100%;
    margin-right: -139px;
    margin-left: -38px;
  }
  
  .about-description {
    padding-left: 1px;
    margin-right: -226px;
    margin-left: -26px;
  }
  
  .about-image {
    display: none;
  }
  
  .about-parallax-section {
    display: none;
  }
}

