.quote-section {
  background-color: #f7f7f7;
  padding-top: 0;
  padding-bottom: 156px;
}

.quote-row {
  margin-bottom: 40px;
  padding: 27px 0;
}

.quote-column {
  width: 100%;
}

.quote-text {
  text-align: center;
}

.quote-text h2 {
  font-family: inherit;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-text h1 {
  font-size: x-large;
}

.quote-text a {
  color: inherit;
  text-decoration: none;
}

.quote-text a:hover {
  text-decoration: underline;
}

