.work-section {
  background-color: #f7f7f7;
  padding-top: 0;
  padding-bottom: 100px;
}

.work-row {
  margin-bottom: 40px;
  padding: 27px 0;
}

.work-column {
  width: 100%;
}

.work-title {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 1.9em;
  max-width: 700px;
  margin: 0 auto;
  color: #747d88;
}

.work-title h2 {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 1.3em;
}

.work-description {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  max-width: 700px;
  padding: 0 50px;
  margin: 32px auto 0;
  color: #747d88;
}

.work-link {
  color: #e08a00;
}

.work-link a {
  color: #e08a00;
  text-decoration: none;
}

.work-link a:hover {
  text-decoration: underline;
}

.work-button-row {
  margin-top: 20px;
}

.work-button-column {
  width: 100%;
  text-align: center;
}

.et_pb_button_module_wrapper {
  margin-top: -65px;
  margin-bottom: -65px;
  margin-left: 362px;
}

.work-button {
  display: inline-block;
  color: #ffffff !important;
  border-width: 0px !important;
  letter-spacing: 2px;
  font-size: 39px;
  padding: 0.7em 2em;
  background-color: #e09900;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.work-button:hover {
  background: #e09900 !important;
  border-color: #e09900 !important;
  letter-spacing: 0px;
}

@media (max-width: 980px) {
  .et_pb_button_module_wrapper {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .work-button {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .work-description {
    padding: 0 20px;
  }
  
  .et_pb_button_module_wrapper {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

